@import "./styles/Table.less";

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.ant-btn-primary:focus {

    font-size: 14px;
    box-shadow: none;
    text-shadow: none;
    background: #009BDF;
    padding: 0 16px;
}

.ant-table-thead > tr > th {

    background: #bec3c5 !important;
}


.ant-btn-default {
    background-color: #009BDF;
    color: white;
}

.ant-second-btn-default {
    background-color: #bec3c5;
    color: white;
}

.navigation-log-out {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
